<!DOCTYPE html>
<html ng-csp ng-app>
<head>
<meta charset="utf-8">
<title>local proxy</title>
<link rel="stylesheet" href="/css/frontend.css">
</head>
<body ng-init="selectTab='networkListTab'">

<ul id="menu">
<li ng-class="{hilightTab:hilightTab=='networkListTab'}">
	<a href="#networkListTab" ng-click="selectTab='networkListTab'">networkList</a>
</li>
<li ng-class="{hilightTab:hilightTab=='autoResponderTab'}">
	<a href="#autoResponderTab" ng-click="selectTab='autoResponderTab'">autoResponder</a>
</li>
<li ng-class="{hilightTab:hilightTab=='settingsTab'}">
	<a href="#settingsTab" ng-click="selectTab='settingsTab'">settings</a>
</li>
<!-- #menu --></ul>

<div id="view">

<div id="networkListTab" class="tab" 
     ng-controller="networkListCtrl"
     ng-show="selectTab=='networkListTab'">
<div id="connectLog">
<table>
<tr ng-repeat="log in logs">
<td>{{log.id}}</td>
<td><a href="#" ng-click="showInspector(log)">{{log.url}}</a></td>
</tr>
</table>
</div>
<div id="inspector">
<textarea id="request">{{log.requestText}}</textarea>
<textarea id="response">{{log.responsetText}}</textarea>
</div>
<!-- #networkListTab --></div>

<div id="autoResponderTab" class="tab"
     ng-controller="autoResponderCtrl"
     ng-show="selectTab=='autoResponderTab'"
     ng-init="selectForm='ruleTable'">
<div ng-show="selectForm=='ruleTable'" id="rulesTable">
<table ng-init="rulesTable=true" ng-show="rules.length">
<thead>
<tr>
	<th>enable</th>
	<th>matcher url</th>
	<th>file name</th>
	<th>auto save</th>
	<th>auto reload</th>
	<th>del</th>
</tr>
</thead>
<tbody>
<tr draggable="true" ng-repeat="rule in rules"
    ng-class="{selected: rule.selected}"
    ng-click="selectRule(rule);$event.stopPropagation()">
<td><input type="checkbox" ng-model="rule.enable" ng-click="$event.stopPropagation()"></td>
<td><input type="text" ng-model="rule.matcher" ng-click="$event.stopPropagation()"></td>
<td>{{rule.path}}</td>
<td><input type="checkbox" ng-model="rule.autoSave" ng-click="$event.stopPropagation()"></td>
<td><input type="checkbox" ng-model="rule.autoReload" ng-click="$event.stopPropagation()"></td>
<td><input type="submit" value="del" ng-click="deleteRule(rule)"></td>
</tr>
</tbody>
</table>
<div id="dropHere" ng-hide="rules.length">Drop local file here!</div>
<input type="submit" value="addTemplate" ng-click="selectForm='templateForm'">
<input type="submit" value="addFilter" ng-click="selectForm='filterForm'">
<!-- #rulesTable --></div>
<div class="addForms">
<form ng-submit="addRule('ResponseTemplate')" ng-show="selectForm=='templateForm'">
Target path<input type="text" ng-model="response_path"><br>
Template value<br>
<textarea ng-model="response_value"></textarea><br>
<input type="submit" value="Save">
<input type="reset" value="Cancel" ng-click="selectForm='ruleTable'">
</form>
<form ng-submit="addRule('ResponseFilter')" ng-show="selectForm=='filterForm'">
Target path<input type="text" ng-model="response_path"><br>
Filter code<br>
<textarea ng-model="response_value"></textarea><br>
<input type="submit" value="Save">
<input type="reset" value="Cancel" ng-click="selectForm='ruleTable'">
</form>
<!-- .addForms --></div>
<!-- #autoResponderTab --></div>

<div id="settingsTab" class="tab"
     ng-controller="settingsCtrl"
     ng-show="selectTab=='settingsTab'">
<form ng-submit="applySettings()" ng-submit="net_restart=false">
Listen Port<input type="text" ng-model="storage.port" ng-change="net_restart=true">
<span ng-show="portblocking_alert" class="alert">
	Unable to bind to port. Please change port number.
</span><br>
Listen Address<input type="text" ng-model="storage.address" ng-change="net_restart=true"><br>
Always decode gzip<input type="checkbox" ng-model="storage.decode_gzip"><br>
<input type="submit" value="Save">
<span ng-class="save_success" class="alert-success">
	Save success.
</span>
</form>
<div ng-show="ApiClientStatus">{{ApiClientStatus}}</div>
</div>

<!-- #view --></div>

<iframe src="/html/sandbox.html" style="display: none" id="sandbox"></iframe>

<script src="/lib/heir.js"></script>
<script src="/lib/EventEmitter.js"></script>

<script src="/lib/micro-location.js"></script>
<script src="/lib/jsdeferred.js"></script>

<script src="/lib/gunzip.min.js"></script>

<script src="/lib/sha1.js"></script>

<script src="/lib/jquery.js"></script>
<script src="/lib/angular.js"></script>

<script src="/src/lib/WebSocket/Frame.js"></script>
<script src="/src/lib/WebSocket/Connect.js"></script>

<script src="/src/lib/Command.js"></script>
<script src="/src/lib/utils.js"></script>
<script src="/src/lib/FileSystem.js"></script>
<script src="/src/lib/jquery.table-sorter.js"></script>
<script src="/src/lib/jquery.contextmenus.js"></script>

<script src="/src/lib/Response.js"></script>
<script src="/src/lib/Response/FileSystem.js"></script>
<script src="/src/lib/Response/Text.js"></script>

<script src="/src/proxy/SocketTable.js"></script>
<script src="/src/proxy/Header.js"></script>
<script src="/src/proxy/Http.js"></script>
<script src="/src/proxy/Waterfall.js"></script>
<script src="/src/proxy/Forwarder.js"></script>
<script src="/src/proxy/Listener.js"></script>

<script src="/src/app/autoResponder.js"></script>
<script src="/src/app/networkList.js"></script>
<script src="/src/app/settings.js"></script>

<script src="/src/frontend.js"></script>
</body>
</html>
